{% extends "credentialsbase.html" %}
{% block content %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="POST" action="/login" class="login100-form validate-form">
						{{ form.csrf_token }}

					    {% for message in get_flashed_messages() %}
						  <div class="alert alert-warning">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ message }}
						  </div>
						{% endfor %}
						<br>
						<span class="login100-form-title p-b-43">
							Welcome to Pharma-Health Login Page
						</span>

							<fieldset class="wrap-input100">
								{{ form.email.label }}
								{{ form.email(class="wrap-input100", placeholder="  Please Enter Email - Username") }}
								{% if form.email.errors %}
								  <ul class="errors">
									{% for error in form.email.errors %}
									  <li>{{ error }}</li>{% endfor %}
								  </ul>
								{% endif %}

							</fieldset>

							<br>

							  <fieldset class="wrap-input100">
								{{ form.password.label }}
								{{ form.password(class="wrap-input100", placeholder="  Enter Password") }}
								{% if form.email.errors %}
								  <ul class="errors">
									{% for error in form.password.errors %}
									  <li>{{ error }}</li>{% endfor %}
								  </ul>
								{% endif %}
							  </fieldset>


						<br>

						<div class="flex-sb-m w-full p-t-3 p-b-32">


							


						<div class="container-login100-form-btn">
							{{ form.submit(class="login100-form-btn") }}
						</div>

						<div class="text-center p-t-46 p-b-20">
							<span class="txt2">
								<p><a href="/signup">sign up </a></p>
							</span>
						</div>

				</form>

			</div>
		</div>
	</div>
{% endblock %}
